.movie-detail-container{
    padding: 0 200px;
    font-family: 'Raleway';
    text-align: left;
}

.movie-detail-container .movie-background{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.movie-detail-container .movie-info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    row-gap: 20px;
}

.movie-detail-container .movie-info p{
    margin: 0;
    color: white;
}

.movie-detail-container .movie-info div{
    font-family: 'Montserrat';
}

.movie-detail-container .movie-info .movie-info-content{
    display: flex;
    column-gap: 12px;
}

.movie-detail-container .movie-info .movie-info-content .line{
    width: 1px;
    height: 20px;
    background-color: #FB9815;
    align-items: center;
}

.movie-detail-container .movie-info .movie-info-content2{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    max-width: 1024px;
}

.order-container{
    display: flex;
    font-family: 'Montserrat';
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.order-container .order{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.order-container .one{
    width: 25%;

}

.order-container .two{
    padding: 0 24px;
    height: fit-content;
    background-color: #2C2C31;
    width: calc(45% - 48px);

}

.order-container .two .monitor{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.order-container .two .monitor p {
    position: relative;
    top: -24px;
    color: #FB9815;
    font-weight: 600;
}

.order-container .two .monitor img{
    width: 100%;
    object-fit: cover;
}

.order-container .two table{
    margin-bottom: 30px;
}

.order-container .two table tbody td{
    width: 100px;
    text-align: center;
    color: white;
    font-weight: 800;
}


.seat-item svg{
    fill: white;
    cursor: pointer;
}

.seat-item .booked{
    fill: rgb(61, 61, 61);
}

.order-container .order .order-content{
    background-color: #2C2C31;
    border-radius: 16px;
    padding: 20px;
    height: fit-content;
}

.order-container .order .order-content .places-choice-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-container .order .order-content .places-choice-title span{
    color:#FB9815;
    text-decoration: underline;
    font-size: 14px;
}

.order-container .order .order-content p{
    font-size: 18px;
    color: white;
    margin: 0;
}

.order-container .order .order-content .places-choice-box-container{
    margin-top: 20px;
    width: auto;
}

.order-container .order .order-content .places-choice-box-container .places-choice-box{
    height: 50px;
    width: calc(100% - 32px);
    background-color: #1A1A1D;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #979797;
    font-size: 14px;
}

.order-container .order .order-content .places-choice-box-container .places-choice-dropdown{
    background-color: #1f1f22;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



.order-container .order .order-content .places-choice-box-container .places-choice-dropdown .places-choice-item{
    color: #ffffff;
    padding: 16px;
    font-size: 14px;
    cursor: pointer;
}

.activeDropdownItem{
    background-color: gray;
}

.order-container .order .order-content .showtime-container{
    margin-top: 20px;
    display: flex;
    column-gap: 8px;
}

.order-container .order .order-content .showtime-container .showtime-box{
    padding: 12px 20px;
    background-color: #1A1A1D;
    color: #979797;
    border-radius: 12px;
    cursor: pointer;
}

.order-container .order .order-content .showtime-container .showtime-box:hover{
    opacity: 0.5;
}

.order-container .order .order-content .showtime-container .showTimeActive{
    background-color: #F30B5E;
    color: white;
}

.order-container .order .order-content .order-info{
    display: flex;
    margin-top: 12px;
}

.order-container .order .order-content .order-info img{
    width: 100px;
    margin-right: 12px;
}

.order-container .order .order-content .order-info .order-info-container{
    width: 100%;
}

.order-container .order .order-content .order-info .order-info-container .order-info-title{
    font-size: 14px;
    color: #979797;
}

.order-container .order .order-content .order-info .order-info-container .order-info-content{
    font-size: 16px;
}

.order-container .order .order-content .order-info .order-info-container table {
    border-spacing: 0;
    margin-top: 12px;
    width: 100%;
}

.order-container .order .order-content .order-info .order-info-container table tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order-container .order .order-content .order-info .order-info-container table tr td{
    padding: 0;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.react-calendar {
    margin-top: 20px;
    border-radius: 16px;
    border: none;
    background-color: #1A1A1D;
    padding: 12px 16px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.react-calendar__navigation__label {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-size: 16px;
}

.react-calendar__navigation button {
    margin: 0 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-transform: capitalize ;
    font-family: 'Montserrat';
}

.react-calendar__navigation button:disabled {
    color: #ccc;
    cursor: default;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button {
    padding: 0 8px;
    font-size: 24px;
    color: white;
}

.react-calendar__navigation button:hover:not(:disabled) {
    color: #FB9815;
}



.react-calendar__month-view__weekdays {
    font-size: 1em;
    color: #FB9815;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.react-calendar__month-view__weekdays__weekday {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}


.react-calendar__tile {
    height: 40px;
    font-size: 1em;
    color: white;
    border: none;
    font-family: 'Montserrat';
    background: transparent;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #555555;  
  }

.react-calendar__tile--now {
    color: #6B68FC;
    font-weight: bold;
    background: #1A1A1D;
}

.react-calendar__tile--active {
    background: #F30B5E;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

