.box2d{
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 2px 8px;
    background: linear-gradient(to bottom, #77F30B, #458D06);
    color: white;
    font-weight: bold;
    
}