.register_container {
    background-image: linear-gradient(45deg, #1A1A1D 60%, rgba(255, 255, 255, 0)), url(../../asset/images/img2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.register_container .register {
    margin-top: -100px;
    width: 40%;
    text-align: left;
    margin-left: 15%;
}

.register_container .register h1 {
    font-size: 40px;
}

.register_container .register .register_content {
    color: white;
}

.register_container .register .register_content .login_link_container {
    color: #A0A0A0;
}

.register_container .register .register_content .login_link_container .bold_item {
    color: #6B68FC;
}

.wrap_input_container{
    display: flex;
    column-gap: 12px;
}

.pass_input_container{
    display: flex;
    column-gap: 12px;
}

.input_container {
    margin-top: 5px;
    padding: 0 12px;
    border-radius: 8px;
    display: flex;
    width: 45%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #373B43;
}

.register_container input {
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    font-family: 'Montserrat';
    background-color: #373B43;
}

.register_container input::placeholder {
    color: #A0A0A0;
}

.register_container input:focus {
    outline: none;
}

.focus1, .focus2, .focus3 .focus4{
    border: 2px solid #6B68FC;
}

.notfocus {
    border: none;
}

.register_button {
    font-weight: 700;
    border-radius: 16px;
    padding: 0 12px;
    width: 50%;
    height: 50px;
    background-color: #6B68FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
